* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  background-image: url(../img/fondo.svg); }

.container {
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white; }
  .container .headerIndex {
    display: flex;
    justify-content: space-between; }
    .container .headerIndex .logo {
      width: 8rem;
      margin: 2rem 0 2rem 5rem;
      padding: 1rem;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      border: 2px solid rgba(255, 255, 255, 0.18);
      border-radius: 500px; }
      .container .headerIndex .logo:hover {
        animation: bss 0.8s alternate 1 ease-out; }

@keyframes bss {
  14% {
    transform: translateX(15%); }
  28% {
    transform: translateX(-15%); }
  42% {
    transform: translateX(12%); }
  56% {
    transform: translateX(-12%); }
  70% {
    transform: translateX(6%); }
  84% {
    transform: translateX(-6%); }
  98% {
    transform: translateX(2%); }
  100% {
    transform: translateX(-2%); } }
  .container .inicioRegistro {
    display: flex;
    align-items: center; }
    .container .inicioRegistro .btnIniciarSesion {
      position: relative;
      overflow: hidden;
      text-decoration: none;
      padding: 1rem 2rem;
      font-size: 2.5rem;
      color: white;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      border: 2px solid rgba(255, 255, 255, 0.18);
      border-radius: 32px;
      margin: 0 5rem 0 2rem;
      transition: 0.6s; }
      .container .inicioRegistro .btnIniciarSesion::after {
        position: absolute;
        content: "";
        width: 8px;
        height: 80px;
        background-color: white;
        left: -100px;
        top: -40%;
        transform: rotate(30deg);
        box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa; }
      .container .inicioRegistro .btnIniciarSesion:hover {
        transform: scale(1.1);
        transition: 0.5s; }
        .container .inicioRegistro .btnIniciarSesion:hover::after {
          left: 130%;
          transition: 0.8s; }
    .container .inicioRegistro .btnRegistrarse {
      overflow: hidden;
      text-decoration: none;
      padding: 1rem 2rem;
      font-size: 2.5rem;
      color: white;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      border: 1px solid rgba(255, 255, 255, 0.18);
      border-radius: 32px;
      margin-right: 2rem;
      transition: 0.6s; }
      .container .inicioRegistro .btnRegistrarse::after {
        position: absolute;
        content: "";
        width: 8px;
        height: 80px;
        background-color: white;
        left: -90px;
        top: -40%;
        transform: rotate(30deg);
        box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa; }
      .container .inicioRegistro .btnRegistrarse:hover {
        transform: scale(1.1);
        transition: 0.5s; }
        .container .inicioRegistro .btnRegistrarse:hover::after {
          left: 120%;
          transition: 0.8s; }
  .container .mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container .mainIndex .titulo {
      font-size: 17rem;
      margin: 0 30rem 2rem 0rem;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      -webkit-text-stroke: 3px white;
      -webkit-background-clip: text;
      color: transparent; }
    .container .mainIndex .subtitulo {
      font-size: 17rem;
      margin: 0rem 0rem 0rem 30rem;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      -webkit-text-stroke: 3px white;
      -webkit-background-clip: text;
      color: transparent; }
  .container .footerIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; }
    .container .footerIndex .footerImg a img {
      padding: 0.5rem;
      margin: 0.5rem; }
    .container .footerIndex .footerImg a:nth-child(1) img:hover {
      background-color: #166FE5;
      border-radius: 100%; }
    .container .footerIndex .footerImg a:nth-child(2) img:hover {
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      border-radius: 100%; }
    .container .footerIndex .footerImg a:nth-child(3) img:hover {
      background-color: #119AFB;
      border-radius: 100%; }

.container .headerCompartido .volver {
  position: relative;
  display: inline-block;
  margin: 4rem 6rem; }
  .container .headerCompartido .volver a svg {
    width: 7.5rem;
    height: 7.5rem;
    color: white; }
  .container .headerCompartido .volver::after {
    content: "Volver al inicio";
    text-align: center;
    position: absolute;
    color: white;
    font-size: 2.5rem;
    left: -150%;
    top: -150%;
    transform: translate(50%, -50%);
    transition: .35s; }
  .container .headerCompartido .volver:hover {
    animation: rebote 0.9s alternate 1 ease-out; }

@keyframes rebote {
  14% {
    transform: translateY(-40%); }
  28% {
    transform: translateY(0%); }
  42% {
    transform: translateY(-30%); }
  56% {
    transform: translateY(0%); }
  70% {
    transform: translateY(-20%); }
  84% {
    transform: translateY(0%); }
  98% {
    transform: translateY(-10%); }
  100% {
    transform: translateY(0%); } }
    .container .headerCompartido .volver:hover::after {
      top: 110%;
      transition: 0.35s; }

.container .mainCompartido {
  display: flex;
  align-items: center;
  justify-content: center; }
  .container .mainCompartido .formCompartido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
    padding: 8rem 3rem;
    border-radius: 1rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 4rem; }
    .container .mainCompartido .formCompartido h1 {
      text-align: center;
      padding-bottom: 2rem;
      margin-bottom: 1rem;
      box-shadow: 0px 1px 0.1px white;
      font-size: 3.2rem;
      font-family: 'Cinzel', serif; }
    .container .mainCompartido .formCompartido input {
      width: 100%;
      padding: 1rem;
      margin: 2% 0;
      border-radius: 0.6rem;
      border: none;
      font-size: 1.6rem;
      font-family: 'Noto Serif', serif;
      background-color: transparent;
      box-shadow: 0 0 1px 1px white;
      color: white; }
      .container .mainCompartido .formCompartido input:active {
        box-shadow: none; }
      .container .mainCompartido .formCompartido input:focus {
        outline: none;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px); }
    .container .mainCompartido .formCompartido p {
      font-size: 1.4rem;
      margin: 2% 0 4% 0;
      text-align: center; }
    .container .mainCompartido .formCompartido button {
      overflow: hidden;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
      align-self: center;
      font-size: 2rem;
      border: none;
      border-radius: 0.6rem;
      font-family: 'Noto Serif', serif;
      color: white;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      border: 2px solid rgba(255, 255, 255, 0.18);
      border-radius: 32px;
      cursor: pointer;
      transition: 0.6s; }
      .container .mainCompartido .formCompartido button::after {
        position: absolute;
        content: "";
        width: 8px;
        height: 80px;
        background-color: white;
        left: -90px;
        top: -40%;
        transform: rotate(30deg);
        box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa; }
      .container .mainCompartido .formCompartido button:hover {
        transform: scale(1.1);
        transition: 0.5s; }
        .container .mainCompartido .formCompartido button:hover::after {
          left: 120%;
          transition: 1s; }
    .container .mainCompartido .formCompartido #idBtnIniciarSesion {
      margin-top: 2rem; }
    .container .mainCompartido .formCompartido h2 {
      text-align: center;
      font-size: 2rem;
      margin-top: 2rem; }
      .container .mainCompartido .formCompartido h2 a {
        color: white; }
    .container .mainCompartido .formCompartido .nombreApellido {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .container .mainCompartido .formCompartido .nombreApellido input {
        width: 48%;
        padding: 1rem; }

.toastyEstilos {
  font-size: 2.2rem;
  color: white;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 32px; }

.tituloAlertRegistro {
  font-size: 3.5rem !important;
  color: white !important;
  letter-spacing: 0.25rem !important;
  line-height: 7rem !important; }

.popupAlertRegistro {
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
  border: 2px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 0.5rem !important; }

.containerStore {
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white; }
  .containerStore .headerStore {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .containerStore .headerStore .logo {
      width: 8rem;
      margin: 2rem 0 2rem 5rem;
      padding: 1rem;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      border: 2px solid rgba(255, 255, 255, 0.18);
      border-radius: 500px; }
      .containerStore .headerStore .logo:hover {
        animation: bss 0.8s alternate 1 ease-out; }

@keyframes bss {
  14% {
    transform: translateX(15%); }
  28% {
    transform: translateX(-15%); }
  42% {
    transform: translateX(12%); }
  56% {
    transform: translateX(-12%); }
  70% {
    transform: translateX(6%); }
  84% {
    transform: translateX(-6%); }
  98% {
    transform: translateX(2%); }
  100% {
    transform: translateX(-2%); } }
    .containerStore .headerStore .buscador {
      width: 50%;
      align-self: center;
      font-size: 2rem; }
    .containerStore .headerStore #boton-carrito {
      width: 10rem;
      border: none;
      font-size: 4rem;
      margin-right: 5rem;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      -webkit-text-stroke: 3px white;
      -webkit-background-clip: text;
      font-family: 'Noto Serif', serif;
      color: transparent; }
      .containerStore .headerStore #boton-carrito:hover {
        cursor: pointer; }
      .containerStore .headerStore #boton-carrito span {
        margin-left: 1rem; }
  .containerStore .seleccion {
    text-align: center; }
    .containerStore .seleccion #selecTalles {
      font-size: 2rem;
      height: 5rem;
      width: 50%;
      display: inline;
      text-align: center;
      border: 1px solid white;
      background-color: transparent; }
      .containerStore .seleccion #selecTalles option {
        color: black;
        background-color: transparent; }
  .containerStore #contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .containerStore #contenedor-productos .producto {
      max-width: 30%;
      padding: 1rem;
      margin-bottom: 5rem;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      border: 1px solid rgba(255, 255, 255, 0.18);
      border-radius: .5rem; }
      .containerStore #contenedor-productos .producto .card {
        background-color: transparent; }
      .containerStore #contenedor-productos .producto img {
        border: 2px solid white;
        padding: 4rem;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: .5rem .5rem 0 0; }
      .containerStore #contenedor-productos .producto .cardTitulo {
        color: white;
        font-size: 2.5rem;
        padding: 2rem;
        position: absolute;
        bottom: 0;
        left: 0; }
      .containerStore #contenedor-productos .producto a {
        margin-left: 15rem; }
        .containerStore #contenedor-productos .producto a i {
          overflow: hidden;
          background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
          -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          border: 1px solid rgba(255, 255, 255, 0.18);
          padding: 1rem;
          position: absolute;
          bottom: 0;
          right: 0;
          translate: -50% -50%;
          border-radius: 50%;
          color: white; }
          .containerStore #contenedor-productos .producto a i::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 80px;
            background-color: white;
            left: -70px;
            top: -40%;
            transform: rotate(30deg);
            box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa; }
          .containerStore #contenedor-productos .producto a i:hover {
            cursor: pointer;
            transition: 0.5s; }
            .containerStore #contenedor-productos .producto a i:hover::after {
              left: 190%;
              transition: 0.8s; }
          .containerStore #contenedor-productos .producto a i:active {
            scale: 1.4; }
      .containerStore #contenedor-productos .producto .cardContenido {
        color: white;
        font-size: 1.6rem;
        padding: 1rem;
        line-height: 3rem; }
        .containerStore #contenedor-productos .producto .cardContenido p:last-child {
          display: inline-block;
          background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
          -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          border: 1px solid rgba(255, 255, 255, 0.18);
          padding: 0.2rem 0.7rem;
          font-size: 1.9rem;
          margin-top: 1rem; }
  .containerStore .modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden; }
  .containerStore .modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5; }
  .containerStore .modal-carrito {
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    min-width: 500px;
    padding: 2rem;
    margin-top: -100%;
    transition: all 0.5s; }
    .containerStore .modal-carrito .precioYPago {
      display: flex;
      justify-content: space-between; }
      .containerStore .modal-carrito .precioYPago .pagar {
        padding-top: 1rem;
        font-size: 1.8rem;
        text-decoration: none; }
  .containerStore .modal-active .modal-carrito {
    margin-top: 0; }
  .containerStore .modal-carrito h3 {
    padding-bottom: .5rem;
    color: white; }
  .containerStore .modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none; }
  .containerStore .modal-carrito #carritoCerrar:hover {
    cursor: pointer;
    color: #b25050; }
  .containerStore .modal-carrito #carritoCerrar:focus {
    outline: none; }
  .containerStore .modal-carrito .precioProducto {
    padding-top: 1rem;
    font-size: 1.8rem; }
  .containerStore .productoEnCarrito {
    border-left: 5px solid white;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem; }
    .containerStore .productoEnCarrito button {
      background-color: transparent; }
      .containerStore .productoEnCarrito button i {
        font-size: 3rem; }
  .containerStore .productoEnCarrito:hover {
    border-left: 5px solid #b25050; }
  .containerStore .boton-eliminar {
    background-color: white;
    color: #b25050;
    border: none;
    font-size: 20px; }
  .containerStore .boton-eliminar:hover {
    cursor: pointer; }
  .containerStore .boton-eliminar:focus {
    outline: none; }
